*.gz
*.zip
*.log
*.tmp
_*.bat
_*.sql
tmp/*

# exclusions based on artifacts created via actions documented in CONTRIBUTING.md
test/dummy.sql
coverage.html_assets/
coverage.html
coverage.json
coverage.xml
tfs_test_results.xml
junit_test_results.xml
test_results.xml
*debug*.xml
cobertura.xml
